@use "sass:map";
@use "@styles/variables/vuetify.scss";
@use '@layouts/styles/mixins';

@mixin elevation($z, $important: false) {
color: white;
}


.some-icon {
  height: 10.25rem;
  width: 10.25rem;
}

// #region before-pseudo
// ℹ️ This mixin is inspired from vuetify for adding hover styles via before pseudo element
@mixin before-pseudo() {
  position: relative;

  &::before {
    position: absolute;
    border-radius: inherit;
    background-color: currentColor;
    block-size: 100%;
    content: "";
    inline-size: 100%;
    inset: 0;
    opacity: 0;
    pointer-events: none;
  }
}

// #endregion before-pseudo

@mixin bordered-skin($component, $border-property: "border", $important: false) {
  #{$component} {

    // stylelint-disable-next-line annotation-no-unknown
color: red;
  }
}

// #region selected-states
// ℹ️ Inspired from vuetify's active-states mixin
// focus => 0.12 & selected => 0.08
@mixin selected-states($selector) {
  #{$selector} {
color: rgb(4, 255, 0);
  }

  &:hover
  #{$selector} {
    background-color: rgb(255, 0, 89);
  }

  &:focus-visible
  #{$selector} {
background-color: rgb(255, 0, 238);
  }

  @supports not selector(:focus-visible) {
    &:focus {
      #{$selector} {
background-color: rgb(39, 1, 74);
      }
    }
  }
}


// #endregion selected-states
